 @media screen and (max-width: 1400px) {


}
  
  
  
@media screen and (max-width: 1200px) {
   
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
    justify-content: space-between;
    padding: 0 6rem 0 12rem;
  }

  

  .skill-boxes-wrapper {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 0;
  } 
    
    
  }

  @media screen and (max-width: 950px) {
    
    .about-me-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4rem;
      margin: 0.5rem 0;
    }

  }  

  @media screen and (max-width: 600px) {
    
    #hamburger-nav {
      padding: 0 3rem 0 3rem;

    }

    .skill-boxes-container {
      display: flex;
      flex-wrap: wrap;
      text-align: initial;
      min-width: fit-content;
    }

    

      
  }

  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: fit-content;
  }

    


  @media screen and (max-width: 450px) {
   
    .profile-photo {
      width: 190px;
      height: 190px;
  }

    #profile {
      gap: 1rem;
  }
    
    .head-title {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.25rem
    }

    .contact-mini-box a {
      font-size: 1rem;
  }

  .copyright {
    text-align: center;
  }

  .about-me-picture img {
    height: 190px;
    width: 190px;
    border-radius: 2rem;
  }

  .experience-education-boxes {
    flex-wrap: wrap;
  }

  .about-me-text {
    min-width: 310px;
  }
    
  .experience-education-boxes {
    flex-wrap: wrap;
    justify-content: center;
  }

}
    